<script>

  'use strict';

  const person = {
    firstName: 'Bob',
  };

  //  Object.preventExtensions(person);

  // Object.seal(person);

  Object.freeze(person);

  person.firstName = 'Timmy';

  const SomeComp = (props) => {

    console.log(Object.isFrozen(props)); // output is true

    return <div>{props.text}</div>;
  }

  // person.lastName = 'Smith';

  // let _firstName = '';

  // Object.defineProperty(person, 'firstName', {
  //   configurable: true,
  //   enumerable: true,
  //   // writable: false,
  //   // value: 'some new value'
  //   set: function(value) {
  //     _firstName = value;
  //   },
  //   get: function() {
  //     return _firstName;
  //   },
  // });

  // person.firstName = 'Bob';
  // console.log(person.firstName);

  console.log(person);



</script>