
<!-- <form>
  <input type="text" id="my-input" value="">
  <button type="button" id="my-button">Click Me!</button>
</form> -->


<script>

  // console.log(isNaN(NaN));
  // console.log(isNaN(parseInt('hhhhh')));
  // console.log(Infinity === Infinity);
  // console.log(1 === 1);
  // console.log(true === true);


  // boolean values
  // true
  // false

  // falsy
  // ''
  // 0
  // false
  // undefined
  // null
  // NaN

  const doIt = (val) => {
    const theVal = (val !== undefined) ? val : 'some default value';
    console.log(theVal);
  }

  // const doIt = (val = 'some default value') => {
  //   console.log(val);
  // }


  // doIt();

  // console.log( 1 == '1' ); 

  // document.querySelector('button').addEventListener('click', () => {

  //   const input = document.querySelector('input').value;

  //   console.log(input);

  //   // if (Number(input) === 5) {
  //   if (input == 5) {
  //     console.log('great job you typed a five!');
  //   }


  // });

  // const g = 2 || 'test';

  // console.log(g);




</script>