<script>

  // a = 1,
  // b = 2,
  // ...c = [3,4,5]
  // const doIt = (a, b, ...c) => {
  //   console.log(a, b, c);
  // };

  // doIt(...[1,2,3,4,5]);

  { firstName, lastName } = p;
  const fullName = ({ firstName, lastName }) => {
    return firstName + ' ' + lastName;
  };

  // const ToolHeader = ({ headerText, ...otherProps }) => <header>
  //   <h1>{headerText} {otherProps.someProp}</h1>
  // </header>;

  // JSON
  // const p = '{ "firstName": "Bob", "lastName": "Smith" }';

  // Object Literal
  const p = {
    firstName: 'Bob',
    lastName: 'Smith',
    age: 10,
    nicePerson: true,
    address: {
      city: 'Mountain View',
      state: 'CA',
    },
    hairColor: 'brown',
  };

  console.log(fullName(p));




</script>